<h1>Cleared Deals</h1>

<table>
  <tr>
    <th>Customer name</th>
    <th>Customer email</th>
    <th>Card number</th>
    <th>Expiry date</th>
    <th>Cvv</th>
    <th></th>
    <th></th>
  </tr>

<% @soldouts.each do |soldout| %>
  <tr>
    <td><%= soldout.customer_name %></td>
    <td><%= soldout.customer_email %></td>
    <td><%= soldout.card_number %></td>
    <td><%= soldout.expiry_date_year %>-<%= soldout.expiry_date_month %></td>
    <td><%= soldout.cvv %></td>
    <td><%= link_to 'Show', soldout %></td>
    <td><%= link_to 'Destroy', soldout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'More Deals', deals_path %>
